form.form-horizontal
	div.modal-header
		button.close(type='button', data-dismiss='modal')
			span &times;
		h4.modal-title Settings
	div.modal-body
		p Here comes settings form
	div.modal-footer
		button.btn.btn-default(type='button', data-dismiss='modal') Close
		input.btn.btn-primary(type='submit', value='Save')
