form.form-horizontal
	div.modal-header
		h4.modal-title Remove applicaton
	div.modal-body
		p Are you sure you want to remove application?
	div.modal-footer
		button.btn.btn-default(type='button', data-dismiss='modal') Cancel
		button.btn.btn-danger(type='button') Remove
