form.form-horizontal
	div.modal-header
		h4.modal-title Are you sure you want to remove this application?
	div.modal-body
		div.row
			div.col-sm-12.app-info
				div.well
					img.icon(ng-src='{{ app.icon }}')
					h3 {{ app.name }}
					p: a(href='{{ app.url }}', target='_blank') {{ app.url }}
					div.clearfix
	div.modal-footer
		button.btn.btn-default(type='button', data-dismiss='modal') Cancel
		button.btn.btn-danger(type='button', ng-click='remove()') Remove
