doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="css/local-apps.css")
		title Local Apps

	body(ng-app="local-apps")
		div(ui-view)
		script(type="text/javascript", src="js/local-apps.js")