doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="local-apps.css")
		title Local Apps

	body
		h1 Local Apps
		script(type="text/javascript", href="local-apps.js")